<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões necessárias -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissões específicas para serviços em primeiro plano em versões mais recentes do Android -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/vitapp_icon"
        android:label="VITAPP"
        android:roundIcon="@mipmap/vitapp_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAjuda"
        tools:targetApi="31">

        <!-- Activity de Login é a tela de início (LAUNCHER) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras Activities -->
        <activity
            android:name=".CadastroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SaveNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- Receiver para ações da notificação -->
        <receiver
            android:name=".NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_SEND_LOCATION" />
            </intent-filter>
        </receiver>

        <!-- Serviços -->
        <service
            android:name=".GyroService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <service
            android:name=".VoiceCommandService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>